In [ ]:
# start of api call notebook

In [2]:
import pandas as pd
import numpy as np
from env import api_key
import requests
import json
import os

In [13]:
url = f"https://api.census.gov/data/2021/acs/acs1/subject?get=NAME,group(S0101)&for=us:1&key={api_key}"

In [14]:
        #Gets each page
response = requests.get(url)
response

In [15]:
        #Converts from json
data = response.json()

In [17]:
example_df = pd.DataFrame(data)

In [18]:
example_df

,0,1,2,3,4,5,6,7,8,9,...,906,907,908,909,910,911,912,913,914,915
0,NAME,GEO_ID,NAME,S0101_C01_001E,S0101_C01_001EA,S0101_C01_001M,S0101_C01_001MA,S0101_C01_002E,S0101_C01_002EA,S0101_C01_002M,...,S0101_C06_036MA,S0101_C06_037E,S0101_C06_037EA,S0101_C06_037M,S0101_C06_037MA,S0101_C06_038E,S0101_C06_038EA,S0101_C06_038M,S0101_C06_038MA,us
1,United States,0100000US,United States,331893745,None,-555555555,*****,18661245,None,17131,...,(X),-888888888,(X),-888888888,(X),-888888888,(X),-888888888,(X),1